body {
  text-align: center;
  margin: 0 10px;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(33, 31, 31);
  height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#game-area {
  display: flex;
  flex-direction: column;
}

#number {
  font-size: 5rem;
  line-height: 5rem;
  color:rgb(66, 158, 219);
  margin: 0 0.5em;
	animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .4; } 
  100% { opacity: 1; }
}

.match-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


button {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  border: none;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

